<p>
  <mat-toolbar>
    <span>{{title}}</span>
  </mat-toolbar>
</p>
<div id='indexChart' [hidden]="this.title=='Hits'">
  <app-bar-chart [inputData]='indexBarData'></app-bar-chart>
</div>
<div id='searchCharts'>
  <div id='placeholderSearch'>
    <app-bar-chart [inputData]='placeholderBarData'></app-bar-chart>
  </div>
  <div id='keywordSearch'>
    <app-bar-chart [inputData]='keywordTweetBarData'></app-bar-chart>
    <app-bar-chart [inputData]="keywordArticleBarData"></app-bar-chart>
  </div>
  <div id='boolquerySearch'>
    <app-bar-chart [inputData]='boolqueryTweetBarData'></app-bar-chart>
    <app-bar-chart [inputData]="boolqueryArticleBarData"></app-bar-chart>
  </div>
</div>
