<button mat-button mat-raised-button color="primary" (click)="openSpeed()">Speed</button>
<button mat-button mat-raised-button color="primary" (click)="openStorage()">Storage</button>
<button mat-button mat-raised-button color="primary" (click)="openCpu()">CPU</button>
<button mat-button mat-raised-button color="primary" (click)="openMemory()">Memory</button>
<app-cpu [hidden]='hideCpu' [indexData]="indexData" [placeholderData]="placeholderSearchData" [key]="cpuKey" [name]="cpuName"></app-cpu>
<app-cpu [hidden]='hideMemory' [key]="memKey" [name]="memName" [indexData]="indexData" [placeholderData]="placeholderSearchData"></app-cpu>
<app-speed [hidden]='hideSpeed' [indexData]="indexData" [placeholderData]="placeholderSearchData"></app-speed>
<app-storage [hidden]='hideStorage' [data]="storageData"> </app-storage>